<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Exathreat</title>
	<object th:include="common/head :: head" th:remove="tag"></object>
	<object th:include="common/menu :: head" th:remove="tag"></object>
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			$('#dateFormatDropdown').dropdown();
			$('#timeFormatDropdown').dropdown();

			initTimezone();

			$('#systemUserForm').submit(function() {
				$('#systemUserFormDimmer').show();
			});
		});

		function initTimezone() {
			var timezones = [];
			$.each(moment.tz.names(), function(index, value) {
				timezones.push({
					name: value,
					value: value
				});
			});

			$('#timezoneDropdown').dropdown({
				values: timezones
			});

			var tz = /*[[${systemUserForm.systemUser.timezone}]]*/ '';
			$('#timezoneDropdown').dropdown('set selected', tz);
		}
	</script>
</head>
<body>
	<object th:include="common/menu :: menu" th:remove="tag"></object>
	<div class="ui bottom attached segment" style="border: none;">
		<div class="ui tiny breadcrumb">
			<a class="section" th:href="@{/}">organisations</a>
			<div class="divider"> / </div>
			<a class="section" th:href="@{/system}">system</a>
			<div class="divider"> / </div>
			<div class="active section">user</div>
		</div>
		<div class="ui success fade message" th:if="${param.updated}">
			<div class="content">Your system user settings has been updated.</div>
		</div>
		<div class="ui top attached menu">
			<div class="header item">
				<span>System user settings</span>
			</div>
		</div>
		<div class="ui bottom attached segment">
			<form class="ui form" id="systemUserForm" th:action="@{/system/user}" th:object="${systemUserForm}" method="post">
				<input type="hidden" th:field="*{systemUser.emailAddress}" />
				<div class="fields">
					<div class="six wide required field" title="Date format">
						<label>Date format</label>
						<div class="ui fluid search selection dropdown" id="dateFormatDropdown">
							<input type="hidden" th:field="*{systemUser.dateFormat}" /> <i class="dropdown icon"></i>
							<div class="default text">Date format</div>
							<div class="menu">
								<div class="item" data-value="dd/MMM/yyyy|DD/MMM/YYYY|d/M/Y">dd/MMM/yyyy</div>
								<div class="item" data-value="dd-MMM-yyyy|DD-MMM-YYYY|d-M-Y">dd-MMM-yyyy</div>
								<div class="item" data-value="dd MMM yyyy|DD MMM YYYY|d M Y">dd MMM yyyy</div>
								<div class="item" data-value="EEE, dd MMM yyyy|ddd, DD MMM YYYY|D, d M Y">EEE, dd MMM yyyy</div>
								<div class="item" data-value="MMM/dd/yyyy|MMM/DD/YYYY|M/d/Y">MMM/dd/yyyy</div>
								<div class="item" data-value="MMM-dd-yyyy|MMM-DD-YYYY|M-d-Y">MMM-dd-yyyy</div>
								<div class="item" data-value="MMM dd yyyy|MMM DD YYYY|M d Y">MMM dd yyyy</div>
								<div class="item" data-value="EEE, MMM dd yyyy|ddd, MMM DD YYYY|D, M d Y">EEE, MMM dd yyyy</div>
							</div>
						</div>
					</div>
				</div>
				<div class="fields">
					<div class="six wide required field" title="Time format">
						<label>Time format</label>
						<div class="ui fluid search selection dropdown" id="timeFormatDropdown">
							<input type="hidden" th:field="*{systemUser.timeFormat}" /> <i class="dropdown icon"></i>
							<div class="default text">Time format</div>
							<div class="menu">
								<div class="item" data-value="HH:mm|HH:mm|H:i">HH:mm</div>
								<div class="item" data-value="HH:mm:ss|HH:mm:ss|H:i:s">HH:mm:ss</div>
								<div class="item" data-value="HH:mm:ss.SSS|HH:mm:ss.SSS|H:i:s.u">HH:mm:ss.SSS</div>
							</div>
						</div>
					</div>
				</div>
				<div class="fields">
					<div class="six wide required field" title="Time format">
						<label>Timezone</label>
						<div class="ui fluid search selection dropdown" id="timezoneDropdown">
							<input type="hidden" th:field="*{systemUser.timezone}" /> <i class="dropdown icon"></i>
							<div class="default text">Timezone</div>
							<div class="menu"></div>
						</div>
					</div>
				</div>
				<div class="field" style="text-align:left;">
					<button class="ui compact hyperlink button" type="button" th:attr="data-uri=@{/}">Cancel</button>
					<button class="ui compact teal button" type="submit">Save</button>
				</div>
			</form>
			<div class="ui active inverted dimmer" id="systemUserFormDimmer" style="display:none;">
				<div class="ui text loader">Updating system settings...</div>
			</div>
		</div>
	</div>
</body>
</html>