<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Exathreat</title>
	<object th:include="common/head :: head" th:remove="tag"></object>
	<object th:include="common/menu :: head" th:remove="tag"></object>
	<script>
		$(document).ready(function() {
			initSubscriptions();

			$('.subscription.button').click(function () {
				var selectedSubscriptionId = $(this).attr('data-value');
				$('#organisationSubscriptionId').val(selectedSubscriptionId);
				setSelectedSubscriptionEvent(selectedSubscriptionId, 'click');
			});

			$('#changeSubscriptionSettingsForm').submit(function (event) {
				$('#changeSubscriptionSettingsFormDimmer' + action).show();
			});
		});

		function initSubscriptions() {
			setSelectedSubscriptionEvent($('#organisationSubscriptionId').val(), 'init');
		}
		
		function setSelectedSubscriptionEvent(selectedSubscriptionId, event) {
			$('.subscription.card').each(function () {
				var aSubscriptionButton = $(this).find('.subscription.button');
				var aSubscriptionId = aSubscriptionButton.attr('data-value');

				if (selectedSubscriptionId == aSubscriptionId) {
					aSubscriptionButton.addClass('teal');
					aSubscriptionButton.text('Selected');
				}
				else {
					aSubscriptionButton.removeClass('teal').addClass('gray');
					aSubscriptionButton.text('Select');
		 		}
			});
		}
	</script>
</head>
<body>
	<object th:include="common/menu :: menu" th:remove="tag"></object>
	<div class="ui bottom attached segment" style="border: none;">
		<div class="ui tiny breadcrumb">
			<a class="section" th:href="@{/}">organisations</a>
			<div class="divider"> / </div>
			<a class="section" th:text="${#strings.toLowerCase(currentOrganisation.orgName)}" th:href="@{/organisation/{orgCode}(orgCode=${orgCode})}"></a>
			<div class="divider"> / </div>
			<a class="section" th:href="@{/organisation/{orgCode}/settings?page=subscriptions(orgCode=${orgCode})}">settings</a>
			<div class="divider"> / </div>
			<a class="section" th:href="@{/organisation/{orgCode}/settings/subscriptions(orgCode=${orgCode})}">subscriptions</a>
			<div class="divider"> / </div>
			<div class="active section">edit</div>
		</div>
		<div class="ui error fade message" th:if="${#fields.hasErrors('changeSubscriptionSettingsForm.*')}">
			<ul class="list">
				<li th:each="err : ${#fields.errors('changeSubscriptionSettingsForm.*')}" th:text="${err}"></li>
			</ul>
		</div>
		<div class="ui top attached menu">
			<div class="header item">
				<span>Change subscription</span>
			</div>
		</div>
		<div class="ui bottom attached segment">
			<div class="ui icon info message">
				<i class="exclamation circle icon"></i>
				<div class="content">
					<div class="header">
						Just an FYI,
					</div>
					<p>A change to your subscription will take affect at your next invoice cycle.</p>
				</div>
			</div>
			<form class="ui form" id="changeSubscriptionSettingsForm" th:action="@{/organisation/{orgCode}/settings/subscriptions/change(orgCode=${orgCode})}" th:object="${changeSubscriptionSettingsForm}" method="post">
				<div class="fields">
					<div class="field">
						<input type="hidden" id="organisationSubscriptionId" th:field="*{organisationSubscription.subscription['id']}" />
						<div class="ui cards">
							<div th:each="subscription: ${subscriptions}" th:remove="tag">
								<div class="ui subscription card">
									<div class="content">
										<div class="right floated meta"><div class="ui blue label" th:text="${subscription.currency.symbol} + ${#numbers.formatDecimal((subscription.priceAmount/subscription.currency.divisible), 1, 'COMMA', 2, 'POINT')} + ' ' + ${subscription.currency.iso3}"></div></div>
										<div class="header" th:text="${subscription.name}"></div>
										<div class="meta" th:text="${subscription.description}"></div>
									</div>
									<div class="content">
										<h4 class="ui sub header">Features</h4>
										<div class="ui bulleted list">
											<div class="item">Log management</div>
											<div class="item">Insights and visualisations</div>
											<div class="item">Threat intelligence</div>
											<div class="item">Monitoring and alerts</div>
											<div th:each="feature: ${subscription.details.features}" th:remove="tag">
												<div class="item" th:text="${feature}"></div>
											</div>
										</div>
									</div>
									<div class="content">
										<h4 class="ui sub header">Terms</h4>
										<div class="ui tiny bulleted list" style="font-weight: bold;">
											<div th:each="term: ${subscription.details.terms}" th:remove="tag">
												<div class="item" th:text="${term}"></div>
											</div>
										</div>
									</div>
									<button class="ui tiny bottom attached gray subscription button" type="button" th:attr="data-value=${subscription.id}">Select</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="field" style="text-align:left;">
					<button class="ui compact hyperlink button" type="button" th:attr="data-uri=@{/organisation/{orgCode}/settings/subscriptions(orgCode=${orgCode})}">Cancel</button>
					<button class="ui compact teal button" type="submit">Save</button>
				</div>
			</form>
			<div class="ui active inverted dimmer" id="changeSubscriptionSettingsFormDimmer" style="display:none;">
				<div class="ui text loader">Changing subscription...</div>
			</div>
		</div>
	</div>
</body>
</html>